@charset "UTF-8";


.c-container{
	width: 100%;
	height: auto;
	
}
.c-menu{
	
	width:100%;
	display:flex;
	justify-content: space-between;

	
}
.card-body{
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}
.c-div{
	margin-left: 1.2%;
   margin-right: 0.2%;
}
.fa-ellipsis-h{
	cursor: pointer;
}
.send{
	cursor:pointer;
}
.left{ 
	cursor: zoom-out;
}
.right{
	cursor: zoom-out;
}

.commentBoxTop{
	display: flex;
	justify-content: space-between;
}
.commentBoxMid{
	display: none;
}
.commentBoxBotT{
	display: flex;
	justify-content: space-between;
}

.imgsearch{
	text-align: right;
	cursor: pointer;
	}
.item{
	cursor: pointer;
	max-width: 800px;
}

