@charset "UTF-8";

body {
   font-family: sans-serif;
   margin: 0;
   background: #f9f9f9;
}

#exampleInputSave{
   background-color: white;
    /* border: 2px solid #c3c3c3; */
    background:none;
    border:none;
    border-radius:4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size:14px;
    font-family: Dubai, 맑은 고딕, Verdana;
}
#exampleInputSave:hover{
   background-color: #bbbbbb;
   color:white;
   border: 2px solid #b7b7b7;
}

.masonry { /* Masonry container */
   -webkit-column-count: 4;
   -moz-column-count: 4;
   column-count: 4;
   -webkit-column-gap: 1em;
   -moz-column-gap: 1em;
   column-gap: 1em;
   margin: 1.5em;
   padding: 0;
   -moz-column-gap: 1.5em;
   -webkit-column-gap: 1.5em;
   column-gap: 1.5em;
   font-size: .85em;
   width: 100%;
   height: auto;
   flex-direction: row;
}

.item {
   display: inline-block;
   background: #fff;
   padding: 1em;
   margin: 0 0 1.5em;
   width: 100%;
   -webkit-transition: 1s ease all;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-shadow: 2px 2px 4px 0 #ccc;
   cursor: zoom-in;
   min-height: 180px;
}

.more {
   display: none;
   margin: 5px;
}

.imore {
   cursor: pointer;
}

.pin {
   display: flex;
   justify-content: flex-end;
}

.item:hover .more {
   display: initial;
}

.item:hover {
   background: #ebebeb; . item img { -webkit-filter : grayscale( 0);
   filter: grayscale(0);
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}

}
.item:hover img {
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}

.item img {
   max-width: 100%;
}
/* 아이콘 */

.fa-ellipsis-h:hover {
   background-color: #efefef;
}

.fa-ellipsis-h:active {
   outline-style: hidden;
}

.fa-ellipsis-h {
   color: #8a8a8a;
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: auto;
   border-radius: 100%;
   font-size: 15px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownt{
   margin-top:7px;
   margin-right:1px;
}

hr{
   display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.dropdown-item:focus, .dropdown-item:hover{
   background-color: #fafafa!important;
}
.dropdown-toggle::after{
	display: contents;
}
/* modal */
btn{
   width: 100%;   
}

@media only screen and (max-width: 320px) {
   .masonry {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
   }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
   .masonry {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
   }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
   .masonry {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
   }
}

@media only screen and (min-width: 1201px) {
   .masonry {
      -moz-column-count: 5;
      -webkit-column-count: 5;
      column-count: 5;
   }
}